<div class="content createAccount">
	<div class="stepContent">
		<span class="title">Etape 1 : Je créer mes identifiants
		<div class="step" step>
			<input class="form-control" placeholder="{{_i('creatAccount.name')}}" type="text" name="user" ng-model="creatAccountObj.name">
			<input class="form-control" placeholder="{{_i('creatAccount.firstName')}}" type="text" name="user" ng-model="creatAccountObj.firstName">
			<input class="form-control" placeholder="{{_i('creatAccount.email')}}" type="text" name="user" ng-model="creatAccountObj.email">
			<input class="form-control" placeholder="{{_i('creatAccount.pwd')}}" type="text" name="user" ng-model="creatAccountObj.pwd">
			<button class="btn btn-info ng-binding" ng-click="valid('step1')">{{_i('creatAccount.save')}} <i class="fa fa-floppy-o"></i></button>
		</div>
	</div>
</div>