<div class="content createAccount">
	<div class="stepContent">
		<span class="title">Etape 1 : Je créer mes identifiants
		<div class="step" step>
			<input class="form-control" placeholder="{{_i('creatLogin.name')}}" type="text" name="user" ng-model="creatLogin.name">
			<input class="form-control" placeholder="{{_i('creatLogin.firstName')}}" type="text" name="user" ng-model="creatLogin.firstName">
			<input class="form-control" placeholder="{{_i('creatLogin.email')}}" type="text" name="user" ng-model="creatLogin.email">
			<button class="btn btn-info ng-binding">{{_i('creatLogin.creatUser')}} <i class="fa fa-check"></i></button>
		</div>
	</div>
</div>