html, body {width:100%; height:100%; overflow:hidden; box-sizing:border-box;}
.container {width:100%; height:100%; margin:0; padding:0;}
.content {width:100%; height:100%; overflow-x:hidden; overflow-y:auto; }
.content.login {background:url('../images/background-blue.jpg') no-repeat; background-size:100% 100%}

#login {overflow:hidden; width:600px; padding:10px; border-radius:10px; color:white; margin:200px auto;
 /*background:#275F9C;*/ background:rgba(39, 95, 156, 0.5); box-shadow:1px 1px 18px -2px #111;}
#login .title {display:block; margin-bottom:20px;}
#login .blockLeft, #login .blockRight {float:left; width:50%; padding:2%;}
#login .blockLeft button {float:right;}
#login .blockLeft input {width:calc(100% - 45px); height:50px; border-radius:0 5px 5px 0; margin-bottom:20px;}
#login .blockLeft .fa {background:#5bc0de; color:white; float:left; padding:17px; border-radius:5px 0 0px 5px; width:45px; font-size:16px;}